<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <extensions>
    <add assembly="NLog.MailKit"/>
  </extensions>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target name="logfile" xsi:type="File" fileName="file.txt" />
    <target name="logconsole" xsi:type="Console" />
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target name="mail" xsi:type="BufferingWrapper" bufferSize="1024" flushTimeout="1000">
      <target xsi:type="Mail"
            name="logmail"
          
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            html="false"
            addNewLines="true"
            replaceNewlineWithBrTagInHtml="true"
          
            subject="Incompleet beslagverzoek aangetroffen"
            to="jos@estreme.eu"
         
            from="jos.menhart@ziggo.nl"
            body="${longdate}|${level:uppercase=true}|${logger}|${message}"
            smtpUserName="jos.menhart@ziggo.nl"
            enableSsl="false"
            smtpPassword="hGTLiKmxLHkuTGTVumqP_"
            smtpAuthentication="Basic"
            smtpServer="smtp.ziggo.nl"
            smtpPort="587"
         
          
 />
    </target>

    <!--<highlight-row backgroundColor="Enum" condition="Condition" foregroundColor="Enum"/>-->
      <!-- repeated -->
      <!--<highlight-word backgroundColor="Enum" foregroundColor="Enum" ignoreCase="Boolean" regex="String" text="String" wholeWords="Boolean" compileRegex="Boolean"/>-->
      <!-- repeated -->
    <target xsi:type="ColoredConsole"
              name="logcoloredconsole"
             
              layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
             
              useDefaultRowHighlightingRules="true"
              
              enableAnsiOutput="false"
              detectConsoleAvailable="true"
              detectOutputRedirected="false"/>
   
    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="f" />
    <logger name="*" minlevel="Debug" writeTo="logcoloredconsole" />
    <logger name="*" minlevel="Debug" writeTo="mail" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
  
</nlog>
